/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store

AcidRainCoffeeHouse/
CompassCoffeeHouse/
GoodTakes/
OldStuff/
assets/
deepspace/
googlehostedservice.html
mail/
.gitignore_
php_errorlog
